* {
  font-family: "Trebuchet MS", Arial, sans-serif;
}
body {
  background: linear-gradient(120deg, rgb(246, 211, 101), rgb(253, 160, 133));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container {
  background-color: rgb(255, 255, 255);
  width: 450px;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0 0 0 1px;
}
form {
  padding: 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form .input-container {
  margin: 7px 0;
  width: 400px;
}
form label {
  display: flex;
  flex-direction: column;
}
form input,
form button {
  border: none;
  font-size: 18px;
  padding: 11px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: inset rgba(9, 30, 66, 0.25) 0 4px 8px -2px,
    inset rgba(9, 30, 66, 0.08) 0 0 0 1px;
}
form button[type="submit"] {
  width: 400px;
  background-color: rgb(97, 97, 146);
  color: rgb(255, 255, 255);
}
form button[type="submit"]:active {
  background-color: rgb(73, 73, 119);
}

form input#cvv {
  width: 120px;
}
form .supporting-inputs-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}

form .supporting-inputs-container label .dateInput {
  width: 30px;
}
form .supporting-inputs-container label .slash {
  padding: 0 7px;
}
form .info-message {
  width: 100%;
  border-top: solid 1px rgb(197, 197, 197);
  padding-top: 10px;
  text-align: center;
  margin: 0;
}
.credit-card {
  margin-top: -70px;
}
.credit-card .card {
  width: 350px;
  color: rgb(255, 255, 255);
  height: 234px;
  border-radius: 10px;
  padding: 15px 35px;
}
.credit-card .card p,
.credit-card .card h2 {
  margin: 0;
}
.credit-card .card p {
  font-size: 20px;
}
.credit-card .card h2 {
  font-size: 22px;
  padding-bottom: 3px;
}
.credit-card .card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-details-container {
  width: 100%;
}
.card-details-container .detail-container {
  margin-bottom: 10px;
}
.card-details-container .number-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 240, 237);
  margin-top: 20px;
}
.card-details-container .number-display h3 {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px;
}
.credit-card #cvv-display {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.credit-card #cvv-display p {
  margin: 0 0 40px;
  font-size: 30px;
}
.card {
  background-size: 100%;
}
.visa-front-side {
  background-image: url("./images/visa-front-side.png");
}
.visa-back-side {
  background-image: url("images/visa-back-side.png");
}
.amex-front-side {
  background-image: url("./images/amex-front-side.png");
}
.amex-back-side {
  background-image: url("./images/amex-back-side.png");
}
.mastercard-front-side {
  background-image: url("./images/mastercard-front-side.png");
}
.mastercard-back-side {
  background-image: url("./images/mastercard-front-side.png");
}
